:root {
    --blue-color: #1977cc;
}

.bg-blue {
    background-color: var(--blue-color);
}

.arrow-up {
    background-color: var(--blue-color);
    color: white;
    /* border-radius: 100%; */
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: 200;


}
.py-6 {
    padding: 60px 0;
}
.py-7 {
    padding: 80px 0;
}
.py-8 {
    padding: 100px 0;
}
.fs-7 {
    font-size: 49px;
}
.p-6 {
    padding: 60px;
}

#hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* height: calc(100vh - 112px); */
    height: 100%;
}
.mt-6{
    margin-top: 55px;

}
.mb-6{
    margin-bottom: 80px ;
}
.card1,
.card2,
.card3
{
    height: 300px;
}
#stats .icon-one{
    top: -30px;
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    background-color: var(--blue-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .icon-one{
    top: -43px;
    width: 70px;
    height: 70px;
    left: calc(50% - 35px);
    background-color: var(--blue-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-heading {
    margin-bottom: 40px;
}

.sec-heading h2 {
    position: relative;
    margin-bottom: 35px;
}

.sec-heading h2::after {
    content: "";
    width: 160px;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 80px);
}

.sec-heading h2::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: -16px;
    z-index: 99;
    left: calc(50% - 25px);
}


.serv-hovr:hover{
    transition: all .3s ease;
    transform: scale(1.03);
    background-color: var(--blue-color) !important;
    color: white;

}
.serv-hovr:hover .icon-one {
    background-color: white !important;
    color: var(--blue-color) !important;
}
.serv-hovr:hover .icon-one:hover{
    color: gold;
    background-color: white;
     transition: all .5s ease;
    transform: scale(1.1);
}

.mb-7 {
    margin-bottom: 150px;
}

#appointment .form-control{
    border-radius: 0px;
}



@media screen and (min-width: 768px) {

    #departs .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: transparent;
        color: var(--blue-color);
        border-right: 2px solid var(--blue-color);
        border-radius: 0px;
    }

    #departs .tab-content {
        border-left: 2px solid #80808033
    }
}

#departs .depts-tabs .tabs-btns {
    flex: 1;

}

#departs .depts-tabs .tabs-tabs {
    flex: 5;
    position: relative;
    left: -2px;
}
.tabs-btns a{
    color: rgba(0, 0, 0, 0.635);
    font-weight: bold;
}

#doctors .soc-icon{
    width:38px;
    height: 38px;
    background-color: #a193931f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    

}

.accord-bg{
    background-color: var(--blue-color);
    color: white;
}

.test-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;

}
.gal-img{
    width: 250px;
    height: 250px;

}
.gal-img img{
    margin: 3px;
    
}
.hovr{
    overflow: hidden;
}
.hovr:hover img {
    transform: scale(1.1);
    transition: all .3s ease;
    cursor: pointer;
    
}

.ico-color i{
    color: #ffbb00;
    font-size: 18px;
    font-weight: bold;
}
.i-colr {
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--blue-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}
footer .soc-icon {
    width:38px;
    height: 38px;
    background-color: #a193931f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
/* Almost complete this site  */

