:root {
    --green-color: #00B98E;
    --bg-light:#effdf9 !important;
}
.bg-success{
    background-color: var(--green-color) !important;
}
.logo-img{
    border: 1px dashed var(--green-color);
    border-radius: 100%;
    padding: 8px;
}
.logoo-img img{
    height: 50px;
    width: 50px;
}
.btn-color{
    background-color: var(--green-color);
    color: white;
    border: none;
}
.active{
    color: var(--green-color) !important;
}
.nav-item .nav-link:hover{
    color: var(--green-color) !important;
}
.text-color{
    color: var(--green-color);
}
.mt-7{
     margin-top: 230px;
}
.head-img{
    height: 109vh;
    width: 652px;
}
.fs-8{
    font-size: 50px;
}
.search-bg{
    background-color: black;
}
.mt-8{
    margin-top: 95px
}
.icos-border{
    border: 1px dashed var(--green-color);
    border-radius: 100%;
    padding: 8px;
}
.icos-img img{
    width: 80px;
    height: 80px;
}
.side-border{
    border: 1px dashed var(--green-color);
}
.about-img{
    
}

